# Backend (Node.js)
backend/node_modules/
backend/.env
backend/dist/
backend/.vite/

# Frontend (Next.js)
frontend/node_modules/
frontend/.env
frontend/next-env.d.ts
frontend/.next/
frontend/out/
frontend/.vscode/
